@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to My Simple Web App!</h1>
<p>This is a simple ASP.NET Core web application.</p>
<p>Go to <a href="/Button">/Button</a> to see the button page!</p>
